<html>
<head>
<title>View Flight Ratings</title>
</head>

<body>
<h1>View Flight Ratings</h1>

<h2>Flights Average Ratings</h2>

<table border="1">
     <tr>
        <th>flight_num</th>
        <th>average_rating</th>
    </tr>

{% for line in posts %}
    <tr>
        <td>{{line['flight_num']}}</td>
        <td>{{line['average_rating']}}</td>
    </tr>
{% endfor %}
</table></br>

<h2>Search a Flight's Ratings and Comments</h2>

<form action="/searchFlightRate" method="POST">
    <h3>Flight Number</h3>
    <input type="text" name = "Flight_Number" placeholder="Flight_Number" required/> </br>
    <h3>Departure Date</h3>
    <input type="date" name = "Departure_Date" placeholder="Departure_Date" required/></br>
    <h3>Departure Time</h3>
    <input type="time" name = "Departure_Time" placeholder="Departure_Time" required/></br></br>
    <input type="submit" value = Search />
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>

<table border="1">
     <tr>
        <th>Flight_Number</th>
        <th>Departure_Date</th>
        <th>Departure_Time</th>
        <th>Comments</th>
        <th>Rates</th>
    </tr>

{% for line in posts2 %}
    <tr>
        <td>{{line['flight_num']}}</td>
        <td>{{line['dept_date']}}</td>
        <td>{{line['dept_time']}}</td>
        <td>{{line['comments']}}</td>
        <td>{{line['rate']}}</td>
    </tr>
{% endfor %}
</table></br>
<a href="/staffMainPage">Go Back</a></br>

</body>
</html>
