<html>
<head>
<title>Add Airport</title>
</head>

<body>
<h1>Add Airport</h1>

<form action="/newAirport" method="POST">
    <h3>Name of Airport</h3>
    <input type="text" name = "name" placeholder="name" required/></br>
    <h3>City</h3>
    <input type="text" name = "city" placeholder="city" required/></br>
    <h3>Country</h3>
    <input type="text" name = "country" placeholder="country" required/></br>
    <h3>Number of Terminal</h3>
    <input type="number" name = "number_of_terminal" placeholder="number_of_terminal" required/></br>
    <h3>Airport Type</h3>
    <input type="text" name = "type" placeholder="type" required/></br>
    <h3>Airport Code</h3>
    <input type="text" name = "air_code" placeholder="air_code" required/></br>
    
    </br>
    <input type="submit" value = Add />
    
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
    
</form>
<a href="/staffMainPage">Go Back</a></br>

</body>
</html>
