<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel Trip</title>
</head>
<body>
    <h1 style="color: blue;"> Cancel Trip</h1>

    <form method="post" action="{{ url_for('cancel_trip') }}">
        <label for="ticket_id">Select ticket to cancel it:</label>
        <select name="ticket_id" required>
            {% for ticket in flights %}
                <option value="{{ ticket.id_num }}">{{ ticket.id_num }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Cancel The Trip</button>
    </form>
    <br>
    <a href="/cusMainPage">Home</a> |
    <a href="/logout">Logout</a>
</body>
</html>