<html>
<head>
<title>Change Flight Status</title>
</head>

<body>
<h1>Change Flight Status</h1>

<form action="/changeStatus" method="POST">
    <h3>Flight Number</h3>
    <input type="number" name = "Flight_Number" placeholder="Flight_Number" required/> </br>
    <h3>Departure Date</h3>
    <input type="date" name = "Departure_Date" placeholder="Departure_Date" required/></br>
    <h3>Departure Time</h3>
    <input type="time" name = "Departure_Time" placeholder="Departure_Time" required/></br>
    <h3>Update Status</h3>
    <input type="text" name = "Status" placeholder="Status" required/></br>
    </br>
    
    <input type="submit" value = Update />
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>
<a href="/staffMainPage">Go Back</a></br>

</body>
</html>
