<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Customer Portal</title>
</head>
<body>
    <h1 style="color: blue;"> Welcome to the Customer Portal!</h1>
    <ul>
        <li><a href="/view_flights">View My Flights</a></li>
        <li><a href="/search_flights">Search for Flights</a></li>
        <li><a href="/purchase_tickets">Purchase Tickets</a></li>
        <li><a href="/cancel_trip">Cancel My Trip</a></li>
        <li><a href="/rate_comment">Rate and Comment</a></li>
        <li><a href="/track_spending">My Spending</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>
