<html>
<head>
<title>Staff Main Page</title>
</head>

<body>
<h1>Staff Main Page</h1>
<h2>Hi, {{username}} </h2>

<a href="/viewFlight">View Flight</a> </br>
    
<a href="/createFlight">Create Flight</a> </br>

<a href="/changeFlightStatus">Change Flight Status</a> </br>

<a href="/viewAirplane">View Airplane</a> </br>

<a href="/addAirplane">Add Airplane</a> </br>

<a href="/addAirport">Add Airport</a> </br>

<a href="/viewFlightRatings">View Flight Ratings</a> </br>

<a href="/scheduleMaintenance">Schedule Maintenance</a> </br>

<a href="/viewFrequentCustomers">View Frequent Customers</a> </br>

<a href="/viewEarnedRevenue">View Earned Revenue</a> </br>

<a href="/logoutStaff">Logout</a> </br>

</body>
</html>
