<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flights</title>
</head>

<body>
    <h1>My Flights</h1>

    <form method="POST" action="{{ url_for('view_flights') }}">
        <label for="date_range">Select Date Range:</label>
        <input type="date" name="start_date" required>
        <input type="date" name="end_date" required>
        <input type="submit" value="Search">
    </form>

    <form method="POST" action="{{ url_for('view_flights') }}">
        <label for="departure_airport">Departure Airport:</label>
        <input type="text" name="departure_airport" required>
        <input type="submit" value="Search">
    </form>

    <form method="POST" action="{{ url_for('view_flights') }}">
        <label for="arrival_airport">Arrival Airport:</label>
        <input type="text" name="arrival_airport" required>
        <input type="submit" value="Search">
    </form>

    {% if flights %}
        <table>
            <thead>
                <tr>
                    <th>Flight Name</th>
                    <th>Departure Date</th>
                    <th>Departure Time</th>
                    <th>Arrival Date</th>
                    <th>Arrival Time</th>
                    <th>Departure Airport</th>
                    <th>Arrival Airport</th>
                    <th>Flight Status</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                    <tr>
                        <td>{{ flight.name }}</td>
                        <td>{{ flight.dept_date }}</td>
                        <td>{{ flight.dept_time }}</td>
                        <td>{{ flight.arri_date }}</td>
                        <td>{{ flight.arri_time }}</td>
                        <td>{{ flight.dept_airport }}</td>
                        <td>{{ flight.arri_airport }}</td>
                        <td>{{ flight.flight_status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No flights found.</p>
    {% endif %}
    <br>
    <a href="/cusMainPage">Home</a> |
    <a href="/logout">Logout</a>
</body>

</html>
